/* General Styles */
body {
  background-color: black;
  margin: 70px auto 0;
  height: 100vh;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color:rgb(254, 254, 254);
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 65%;
}

th, td {
  border-bottom: 1px solid grey;
  padding: 20px;
  text-align: left;
}

.texto {
  color:azure;
  display: flex;
  align-items: center;
  justify-content: center;
}


.addButton:hover {
  background-color: #50ec96;
}

.editLink, .deleteLink {
  background-color: #ff0505;
  color: white;
}

.editLink:hover, .deleteLink:hover {
  background-color: #50ec96;
}




